:root {
  --primary-background: #fdf0ee;
  --primary-background-light: #fff3f2;
  --primary-text-color: #996269;
  --accent-text-color: #7ab3cc;
  --secondary-background: #cbc3cc;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background);
  margin: 0;
}

h2 {
  display: inline-block;
  font-family: "Karla";
  font-size: 2.4rem;
  color: var(--accent-text-color);
  /* padding: 0 1rem 0.5rem 0; */
  /* border-bottom: solid 2px var(--accent-text-color); */
}
p {
  font-family: sans-serif;
}
footer {
  background-color: var(--primary-text-color);
  padding: 1.6rem;
  text-align: center;
  color: var(--primary-background);
  margin-top: 4rem;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

#nav {
  font-family: "karla";
  margin-bottom: 4rem;
  background-color: white;
  border-bottom: solid 2px var(--secondary-background);
}
#nav-logo {
  font-size: 2.2rem;
  margin: 1rem 0;
  color: var(--primary-text-color);
}
#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobile-nav {
  display: none;
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
}

#nav-links {
  display: block;
}

#nav-links li {
  display: inline-block;
  list-style-type: none;
  margin-left: 2rem;
  font-size: 1.2rem;
}
#nav-links a {
  text-decoration: none;
  color: var(--accent-text-color);
}

#about-me {
  display: flex;
  flex: 1;
  align-items: center;
}
#about-me-text {
  margin: 0;
  height: auto;
  width: auto;
  font-size: 1.2rem;
}
#about-me-text h1 {
  margin-top: 0;
}
#about-me-text p {
  margin-top: 0;
  width: 80%;
  line-height: 2rem;
}
#about-me-image img {
  height: auto;
  width: 250px;
  border-radius: 14px;
  box-shadow: 10px 10px 17px 5px rgba(203, 195, 204, 0.68);
}

#contact-me {
  margin-top: 4rem;
}

#contact-row {
  display: flex;
}
#contact-row h2 {
  margin-top: 0;
}
#contact-social {
  flex: 1;
  padding: 0;
}

#contact-social p {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

#contact-social ul {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
  padding: 0 2rem 0 0;
  margin-top: 2rem;
}
#contact-social li {
  margin-top: 1rem;
  padding-left: 1.2rem;
  list-style-type: none;
  font-size: 1.8rem;
}

#contact-social li a {
  color: var(--accent-text-color);
}

#contact-social li a:visited {
  color: var(--accent-text-color);
}

#contact-form {
  flex: 1;
  font-size: 1.8rem;
}
#contact-form input,
textarea {
  display: block;
  width: 90%;
  font-family: "roboto";
  color: var(--primary-text-color);
  border: 2px solid var(--secondary-background);
  border-radius: 4px;
  outline-color: var(--primary-text-color);
  padding: 6px;
  margin: 6px auto;
}

#contact-form ::placeholder {
  color: var(--secondary-background);
}

#contact-form button {
  display: block;
  font-family: "roboto";
  color: white;
  border: 2px solid var(--secondary-background);
  background-color: var(--accent-text-color);
  border-radius: 4px;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  transition: 0.2s;
  transition-property: filter;
  cursor: pointer;
}

#contact-form button:hover {
  filter: brightness(110%);
}

@media screen and (max-width: 300px) {
  #nav-logo {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  #nav {
    margin-bottom: 0;
  }
  #nav .container {
    flex-direction: column;
    align-items: baseline;
  }
  #nav .container div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #mobile-nav {
    display: block;
    color: #996269;
    background-color: white;
    border: none;
    border-radius: 4px;
  }

  #mobile-nav.active {
    background-color: #eee;
  }

  #nav-links {
    display: none;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #nav-links li {
    display: block;
    font-size: 1.4rem;
    margin: 0.8rem 0;
    padding: 0;
  }
  #about-me {
    flex-direction: column-reverse;
    padding: 2rem 0;
  }
  #about-me-text p {
    width: 100%;
  }

  #contact-me {
    margin-top: 2rem;
  }
  #contact-row {
    flex-direction: column;
    align-items: center;
  }
  #contact-social ul {
    max-width: 304px;
    margin: 2rem auto;
  }
  #contact-form {
    width: 100%;
  }
}
